[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Berenice Corín
	email = spy.zelda@gmail.com
[winUpdater]
	recentlySeenVersion = 2.16.1.windows.1
[core]
	autocrlf = true
